<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <array>
                <dict>
                        <key>args</key>
                        <array>
                                <string>NO</string>
                        </array>
                        <key>className</key>
                        <string>Device</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>SetCheckIndicator</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array/>
                        <key>className</key>
                        <string>Extend</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>ResetApp</string>
                        <key>playbackDelay</key>
                        <string>500</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array>
                                <string>baseline</string>
                        </array>
                        <key>className</key>
                        <string>Extend</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>SetFolderMode</string>
                        <key>playbackDelay</key>
                        <string>500</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array>
                                <string>mstr://?url=http%3A%2F%2Fxin-cert.labs.microstrategy.com%3A80%2FMicroStrategyMobile%2Fasp%2FTaskProc.aspx%3FtaskId%3DgetMobileConfiguration%26taskEnv%3Dxml%26taskContentType%3Dxmlanf%26configurationID%3D24dc890e-b84f-4ab9-a2bd-3fc7400f948e&amp;authMode=1&amp;dt=2</string>
                        </array>
                        <key>className</key>
                        <string>Extend</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>ConfigServer</string>
                        <key>playbackDelay</key>
                        <string>2000</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array>
                                <string>{0,0}</string>
                        </array>
                        <key>className</key>
                        <string>UITableViewCell</string>
                        <key>monkeyID</key>
                        <string>SETTINGS</string>
                        <key>command</key>
                        <string>Tap</string>
                        <key>playbackDelay</key>
                        <string>500</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array>
                                <string>107.Settings</string>
                        </array>
                        <key>className</key>
                        <string>Device</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>Screenshot</string>
                        <key>playbackDelay</key>
                        <string>1000</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array/>
                        <key>className</key>
                        <string>UITableViewCell</string>
                        <key>monkeyID</key>
                        <string>Logging</string>
                        <key>command</key>
                        <string>Tap</string>
                        <key>playbackDelay</key>
                        <string>500</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array>
                                <string>107.Settings_2</string>
                        </array>
                        <key>className</key>
                        <string>Device</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>Screenshot</string>
                        <key>playbackDelay</key>
                        <string>1000</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array/>
                        <key>className</key>
                        <string>Extend</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>CloseSessions</string>
                        <key>playbackDelay</key>
                        <string>500</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array>
                                <string>mstr://?url=http%3A%2F%2Fxin-cert.labs.microstrategy.com%3A80%2FMicroStrategyMobile%2Fasp%2FTaskProc.aspx%3FtaskId%3DgetMobileConfiguration%26taskEnv%3Dxml%26taskContentType%3Dxmlanf%26configurationID%3D69115a93-cec3-4200-8d6f-78042fb1fc44&amp;authMode=1&amp;dt=2</string>
                        </array>
                        <key>className</key>
                        <string>Extend</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>ConfigServer</string>
                        <key>playbackDelay</key>
                        <string>2000</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array>
                                <string>{0,0}</string>
                        </array>
                        <key>className</key>
                        <string>UITableViewCell</string>
                        <key>monkeyID</key>
                        <string>SETTINGS</string>
                        <key>command</key>
                        <string>Tap</string>
                        <key>playbackDelay</key>
                        <string>500</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array>
                                <string>107.SettingsDisable_reset</string>
                        </array>
                        <key>className</key>
                        <string>Device</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>Screenshot</string>
                        <key>playbackDelay</key>
                        <string>1000</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array/>
                        <key>className</key>
                        <string>UITableViewCell</string>
                        <key>monkeyID</key>
                        <string>Logging</string>
                        <key>command</key>
                        <string>Tap</string>
                        <key>playbackDelay</key>
                        <string>500</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array>
                                <string>107.SettingsDisable_reset_2</string>
                        </array>
                        <key>className</key>
                        <string>Device</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>Screenshot</string>
                        <key>playbackDelay</key>
                        <string>1000</string>
                </dict>
                <dict>
                        <key>args</key>
                        <array/>
                        <key>className</key>
                        <string>Extend</string>
                        <key>monkeyID</key>
                        <string></string>
                        <key>command</key>
                        <string>CloseSessions</string>
                        <key>playbackDelay</key>
                        <string>500</string>
                </dict>
        </array>
</plist>
